@mixin flex($jus: center, $ali: center, $dir: row) {
    display: flex;
    justify-content: $jus;
    align-items: $ali;
    flex-direction: $dir;
}

@mixin text($size) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $size;
}

$blue: rgb(82, 116, 255);